@font-face {
    font-family: 'TT Lakes';
    src: url('./assets/fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./assets/fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./assets/fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root{
    --clr-active-btn: #41F6D7;
    --clr-primary-btn:#FF3E79;
    --clr-shadow: #0E185033;
    --clr-primary-text: #1B1C21;
    --clr-background-body: #F8F8F8;
    --clr-background-header: #FFFFFF;
    --clr-secondary-text: #7E7E82;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'TT Lakes', sans-serif;
}

body{
    font-size: 16px;
}

p,h1,h2,h3,h4,h5,h6 {
    color: var(--clr-primary-text);
    letter-spacing: 0.2px;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}


main {
    display: flex;
}

@keyframes line {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.main__container {
    width: 100%;
    background-color: var(--clr-background-body);
}


/*MENU ASIDE*/

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--clr-primary-btn);
}

.left-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    gap: 46px;
    max-width: 320px;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-background-header);
    box-shadow: 16px 0 52px 0 #0E185033;
    z-index: 10;
}

.left-menu::before{
    content: '';
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.left-menu__container{
    padding: 32px 24px 32px 24px;

}

.left-menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 32px 24px 0 24px;
}

.left-menu__logo{
    flex: 1;
}

.left-menu__main{
    flex: 1;
    overflow-y: auto;
}

.left-menu__links{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 32px;
}

.left-menu__link{
    position: relative;
    line-height: 32px;
    font-weight: 500;
    padding-left: 24px;
    transition: all ease-out 0.5s;
    border-bottom: 0 solid var(--clr-primary-text);
}

.left-menu__links:has(.left-menu__link:hover) .left-menu__link:not(:hover) {
    opacity: 0.5;
    transition: all ease-in 0.5s;
}

.left-menu__link:hover:not(.left-menu__link_active){
    transition: all ease-out 0.5s;
    letter-spacing: 1px;
    filter: brightness(1.1);
}

.left-menu__link:hover:not(.left-menu__link_active)::before{
    transition: all ease-in 0.5s;
    position: absolute;
    display: inline-flex;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    vertical-align: center;
    background-color: var(--clr-active-btn);
    animation: line 0.6s forwards;
    border-radius: 2px;
}

.left-menu__link a{
    color: var(--clr-primary-text);
}

.left-menu__link_active a{
    color: #7E7E82;
}

.left-menu__link_active::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 4px;
    height: 32px;
    background-color: var(--clr-active-btn);
}

.left-menu__footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 24px 32px 24px;
    gap: 40px;
}

.contacts-social{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts-social__buttons{
    display: flex;
    gap: 16px;
}

.contacts-social__links{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.link-telephone{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.left-menu__language{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.language-item {
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.selected-language {
    color: #7E7E82;
}

/*SECTION FIRST*/

.first-section {
    margin: 0 auto;
}

.header {
    position: relative;
    background-color: var(--clr-background-header);
}

.header::before {
    content: '';
    position: absolute;
    background: var(--clr-background-header);
    left: -32px;
    right: -32px;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.header__container{
    display: flex;
    height: 88px;
}

.header__line{
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
}

.header__list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.header__left,
.header__center,
.header__right {
    display: flex;
    align-items: center;
    position: relative;
}

.header__center{
    justify-content: space-between;
    flex: 1;
    gap: 16px;
}


.header__items{
    display: flex;
    gap: 16px;
}

.header__center::after {
    right: -16px;
}

.logo-icon {
    width: 96px;
}

.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--clr-primary-btn);
    border-radius: 100%;
}

.title{
    position: relative;
}
.title::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 40px;
    background-color: var(--clr-active-btn);
}

.services__tabs{
    display: flex;
    gap: 26px;
    text-wrap: nowrap;
    overflow-y: scroll;
}

.section-services__tab{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--clr-secondary-text);
}

.section-services_active{
    padding: 8px 16px;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.services__button {
    display: flex;
    font-size: 16px;
    font-weight: 500;
}

.services__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.header__button_text{
    display: none;
}

.services__text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.services__image img{
    display: block;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.services__text p {
    display: -webkit-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 1120px) {
    .left-menu{
        position:unset;
        box-shadow: unset;
    }

    .left-menu::before{
        content: unset;
    }

    .first-section{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        row-gap: 16px;
        column-gap: 36px;
        padding: 0 32px 0 32px;
    }

    .header {
        background-color: transparent;
    }

    .header::before {
        background-color: transparent;
    }

    .header__container{
        display: flex;
        align-items: center;
    }

    .header__center,.header__left,.header__line{
        display: none;
    }

    .header__right{
        gap: 32px;
    }

    .header__list{
        flex-direction: row-reverse;
    }

    .header__item_type_service,
    .header__item_type_search {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .header__button_text{
        display: block;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.2px;
    }

    .title{
        grid-column-start: 1;
        grid-row-start: 1;
        align-content: center;
    }

    .header{
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .title::before {
        left: -32px;
    }

    .services__tabs{
        grid-column: span 2 / span 2;
        flex-wrap: wrap;
        overflow-y: initial;
        row-gap: 14px;
    }

    .services__content {

    }

    .services__text{
        grid-row-start: 3;
    }

    .services__image{
        grid-row-start: 3;
    }

    .services__text p {
        -webkit-line-clamp: 8;
    }
}

@media (min-width: 768px) and (max-width: 1120px) {
    .left-menu{

        /*left: -320px;*/
    }

    .first-section {
        display: flex;
        padding: 0 24px;
        flex-direction: column;
        row-gap: 24px;
    }

    .header__list {
        gap: 20px;
    }

    .header__right {
        gap: 20px;
    }

    .header__items{
        display: flex;
    }


    .header__logo {
        position: relative;
        display: flex;
    }

    .title::before {
        left: -24px;
    }

    .services__content{
        display: flex;
        gap: 48px;
    }

    .services__text{
        display: flex;
        flex-direction: column;
        flex: 1 1 48%;
        row-gap: 10px;
    }

    .services__image{
        flex: 1 1 48%;
    }

    .services__text p{
        line-height: 20px;
        -webkit-line-clamp: 7;
    }
}

@media (max-width: 768px) {

    .first-section {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        gap: 24px;
    }

    .header__logo {
        padding-left: initial;
    }

    .header__right {
        flex: 1;
        gap: 16px;
        justify-content: flex-end;
    }

    .header__center::before {
        opacity: 0;
    }

    .header__button_text {
        display: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .header__items {
        display: none;
    }

    .header__line_left{
        display: none;
    }

    .title {
        position: relative;
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
    }

    .title::before {
        left: -16px;
    }

    .services__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .services__text p {
        -webkit-line-clamp: 4;
    }

}

@container main-container (min-width: 1120px) {

}